# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [3]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [5]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [17]:
# Your code here:
pk = pokemon

print(f"There are {pk.Legendary.sum()} Legendary pokemon")
print(f"There are {pk.shape[0] - pk.Legendary.sum()} Regular pokemon")

There are 65 Legendary pokemon
There are 735 Regular pokemon

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [35]:
#Regular Pkmn 
print('Describing Regular Pokemon statistical data ')
pk[~ pk.Legendary == True].describe()

Describing Regular Pokemon statistical data

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000
mean,353.315646,417.213605,67.182313,75.669388,71.559184,68.454422,68.892517,65.455782,3.284354
std,208.590419,106.760417,24.808849,30.490153,30.408194,29.091705,25.669310,27.843038,1.673471
min,1.000000,180.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.000000
25%,175.500000,324.000000,50.000000,54.500000,50.000000,45.000000,50.000000,45.000000,2.000000
50%,346.000000,425.000000,65.000000,72.000000,66.000000,65.000000,65.000000,64.000000,3.000000
75%,533.500000,498.000000,79.500000,95.000000,85.000000,85.000000,85.000000,85.000000,5.000000
max,715.000000,700.000000,255.000000,185.000000,230.000000,175.000000,230.000000,160.000000,6.000000

In [36]:
#Regular Pkmn 
print('Describing Legendary pokemon statistical data ')
pk[pk.Legendary == True].describe()

Describing Legendary pokemon statistical data

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,65.000000,65.000000,65.000000,65.000000,65.000000,65.000000,65.000000,65.000000,65.000000
mean,470.215385,637.384615,92.738462,116.676923,99.661538,122.184615,105.938462,100.184615,3.769231
std,173.651095,60.937389,21.722164,30.348037,28.255131,31.104608,28.827004,22.952323,1.455262
min,144.000000,580.000000,50.000000,50.000000,20.000000,50.000000,20.000000,50.000000,1.000000
25%,381.000000,580.000000,80.000000,100.000000,90.000000,100.000000,90.000000,90.000000,3.000000
50%,483.000000,600.000000,91.000000,110.000000,100.000000,120.000000,100.000000,100.000000,4.000000
75%,642.000000,680.000000,105.000000,131.000000,115.000000,150.000000,120.000000,110.000000,5.000000
max,721.000000,780.000000,150.000000,190.000000,200.000000,194.000000,200.000000,180.000000,6.000000

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [60]:
# Your code here:
from scipy.stats import ttest_ind
import scipy.stats as stats
import matplotlib.pyplot as plt
lgpk = pk[pk.Legendary == True]
rgpk = pk[~ pk.Legendary == True]

print(f"Pokemon Attack T: {ttest_ind(lgpk.Attack, rgpk.Attack)}")
print(f"Pokemon Attack T: {ttest_ind(lgpk.Defense, rgpk.Defense)}")
print(f"Pokemon Attack T: {ttest_ind(lgpk.Speed, rgpk.Speed)}")
print(f"Pokemon Attack T: {ttest_ind(lgpk.HP, rgpk.HP)}")

Pokemon Attack T: Ttest_indResult(statistic=10.397321023700622, pvalue=7.827253003205333e-24)
Pokemon Attack T: Ttest_indResult(statistic=7.181240122992339, pvalue=1.5842226094427255e-12)
Pokemon Attack T: Ttest_indResult(statistic=9.7652343319319, pvalue=2.3540754436897763e-21)
Pokemon Attack T: Ttest_indResult(statistic=8.036124405043928, pvalue=3.330647684846191e-15)

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:
The p value is very small for all the variables we tested from the samples,
and we can reject the null hypothesis as we see that their p values were always very small

the highest probability og the null hypothesis being true was 
2.3540754436897763e-21

null hypothesis is rejected

the two samples are from different populations

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [64]:
# Your code here:

pk.columns
pk['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ghost        32
Dragon       32
Ground       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

In [122]:
pk.columns = (['#', 'Name', 'Type1', 'Type2', 'Total', 'HP', 'Attack', 'Defense',
       'SpAtk', 'SpDef', 'Speed', 'Generation', 'Legendary'])
pk.columns

Index(['#', 'Name', 'Type1', 'Type2', 'Total', 'HP', 'Attack', 'Defense',
       'SpAtk', 'SpDef', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [112]:
# Your code here:
wtr_msk = pk.Type1 == "Water"    # Make an array to mask the non-water pokemons        
wtr = pk[wtr_msk]            # Make the water pokemons a variable
not_wtr = pk[~ wtr_msk]      # NOT Water pkmn, using the `~`cvoperand
not_wtr

,#,Name,Type1,Type2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [114]:
# Your code here:

print(f"Pokemon Attack T: {ttest_ind(wtr.mean(), not_wtr.mean())}")

Pokemon Attack T: Ttest_indResult(statistic=-0.12495908786675247, pvalue=0.9019409401007521)

Write your conclusion below.

In [10]:
# Your conclusions here:
there is a high probability that there is no relationship between the water pokemon and the non water pokemon

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [121]:
# Your code here:
from scipy.stats import ttest_rel

ttest_rel(pk.Attack, pk.Defense)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:รง
the p value is below alpha (0.05)
we reject the null hypothesis
The probability that these two samples come from the same population is ... ?

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [125]:
# Your code here:
ttest_rel(pk.SpAtk, pk.SpDef)

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:
This p value of 0.4 means that the ho should not be rejected
it is probable that there is a relationship between these two variables

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [134]:
# Your code here:
from scipy.stats import ttest_1samp
print(pk.SpAtk.mean())
print(pk.SpDef.mean())
print(pk.SpAtk.mean() - pk.SpDef.mean())
ttest_1samp((pk.SpAtk- pk.SpDef), 0)

72.82
71.9025
0.9174999999999898

Ttest_1sampResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [149]:
# Your code here:
rgpk_mask = pk.Legendary == True
pd.crosstab(pk[~ rgpk_mask].index, pk[rgpk_mask])
# Esto de los pandas crosstabs no los se usar aun, tengo que practicarlo mas

ValueError: Shape of passed values is (735, 2), indices imply (65, 2)

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: