# Advanced Querying Mongo

Importing libraries and setting up connection

In [2]:
from pymongo import MongoClient
db = 'companies'
client = MongoClient(f"mongodb://localhost/{db}")
db = client.get_database()

In [4]:
# Your Code
cur = db.list_collections()
for collection in cur:
    print(collection)

{'name': 'companies', 'type': 'collection', 'options': {}, 'info': {'readOnly': False, 'uuid': UUID('76992dc7-b5e1-4dcd-9a37-b36c0e165615')}, 'idIndex': {'v': 2, 'key': {'_id': 1}, 'name': '_id_', 'ns': 'companies.companies'}}

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [9]:
cur = db.companies.find({"name":"Babelgum"})
for collec in cur:
    print(collec["name"])

Babelgum

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [18]:
from pymongo import ASCENDING, DESCENDING
cur = db.companies.find({"number_of_employees":{ "$gt" :5000}}
                       ).sort([("number_of_employees", DESCENDING)]
                        ).limit(20)
for collec in cur:
    print( collec["number_of_employees"], collec["name"])

405000 Siemens
388000 IBM
320000 Toyota
300000 PayPal
227000 Nippon Telegraph and Telephone Corporation
221726 Samsung Electronics
205000 Accenture
200300 Tata Consultancy Services
200000 Flextronics International
186000 Safeway
180500 Sony
177000 LG
171000 Ford
160000 Boeing
140000 Digital Equipment Corporation
125000 Nokia
107000 MItsubishi Electric
107000 MItsubishi Electric
100000 Comcast
100000 Bertelsmann

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [59]:
cur = db.companies.find({"founded_year":{"$gte":2000, "$lte":2005}}).count()

# comment out the long answer, and only querying the count()
#for coll in cur:
 #   print(coll['founded_year'], coll['name'], )
cur

/home/rh/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  """Entry point for launching an IPython kernel.

3734

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [32]:
# Your Code
cur = db.companies.find({"founded_year": {"$lt":2010},
                         "ipo.valuation_ammount":
                          {"$gt":1}})

for coll in cur:
    print(coll['name'])#, coll['ipo'])

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [55]:
# Your Code
cur = db.companies.find({"number_of_employees":{"$lt":1000}, 
                         "founded_year":{"$lt":2005}
                        },{
                           "founded_year":1,"name":1, "number_of_employees":1,
                       }).limit(10).sort([("number_of_employees",DESCENDING)])

for x in list(cur):
    print(x["number_of_employees"], x["founded_year"],x['name'],"\t",)
    
# OK CREO QUE ES MUCHO MAS INTUITIVO QUE MYSQL TAMBIEN, AL MENOS A LA HORA DE QUERY

974 2000 Infinera Corporation
948 1997 NorthPoint Communications Group
931 1997 888 Holdings
903 1983 Forrester Research
900 1991 SonicWALL
900 1999 Webmetrics
881 1999 Cornerstone OnDemand
800 2004 Yelp
800 2000 ZoomInfo
800 2003 MySpace

### 6. All the companies that don't include the `partners` field.

In [66]:
cur1 = db.companies.find({"partners":{"$exists":True}}).count()
cur2 = db.companies.find({"partners":{"$exists":False}}).count()
cur1, cur2

/home/rh/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  """Entry point for launching an IPython kernel.
/home/rh/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.

(18801, 0)

### 7. All the companies that have a null type of value on the `category_code` field.

In [81]:
###### Pendiente

In [80]:
db.companies.find({"catergory_code":{"$type":"null"}}).count()

/home/rh/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  """Entry point for launching an IPython kernel.

0

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [77]:
# Your Code
c =db.companies.find({"number_of_employees":{"$gt":100, "$lt":1000}},
                     {"number_of_employees":1,"name":1}
                    ).sort([("number_of_employees",DESCENDING)]).limit(10)
for c in c:
    print(c["number_of_employees"],c["name"])

984 Datamonitor
974 Infinera Corporation
950 Box
948 NorthPoint Communications Group
931 888 Holdings
903 Forrester Research
900 Workday
900 InMobi
900 Relax Solutions Pvt Ltd
900 SonicWALL

### 9. Order all the companies by their IPO price in a descending order.

In [ ]:
# Your Code

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [86]:
# Your Code
list(db.companies.find({},    {"number_of_employees":1, "name":1 }
                      ).sort([("number_of_employees",DESCENDING)]).limit(10))

[{'_id': ObjectId('52cdef7d4bab8bd67529941a'),
  'name': 'Siemens',
  'number_of_employees': 405000},
 {'_id': ObjectId('52cdef7c4bab8bd67529856a'),
  'name': 'IBM',
  'number_of_employees': 388000},
 {'_id': ObjectId('52cdef7d4bab8bd675299d33'),
  'name': 'Toyota',
  'number_of_employees': 320000},
 {'_id': ObjectId('52cdef7c4bab8bd675297e89'),
  'name': 'PayPal',
  'number_of_employees': 300000},
 {'_id': ObjectId('52cdef7e4bab8bd67529b0fe'),
  'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'_id': ObjectId('52cdef7d4bab8bd675298aa4'),
  'name': 'Samsung Electronics',
  'number_of_employees': 221726},
 {'_id': ObjectId('52cdef7d4bab8bd675298b99'),
  'name': 'Accenture',
  'number_of_employees': 205000},
 {'_id': ObjectId('52cdef7e4bab8bd67529a657'),
  'name': 'Tata Consultancy Services',
  'number_of_employees': 200300},
 {'_id': ObjectId('52cdef7e4bab8bd67529aa51'),
  'name': 'Flextronics International',
  'number_of_employees': 200000},
 {'_id': ObjectId('52cdef7d4bab8bd675299156'),
  'name': 'Safeway',
  'number_of_employees': 186000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [89]:
c = db.companies.find({},   {}                  ).limit(10)
for coll in c:
    print(coll['name'])

OperationFailure: unknown operator: $month

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [142]:
# Your Code
cur = db.companies.find({"founded_year":{"$lt":2000},
                  "acquisition.price_amount":{"$gt":1000000000}}).limit(10)

for e in cur:
    print( e["acquisition"]["price_amount"],e["acquisition"]["price_currency_code"],
          "\t", e["founded_year"], e['name'], 
          "\t\t",e['category_code'])

1500000000 USD 	 1998 PayPal 		 finance
7400000000 USD 	 1982 Sun Microsystems 		 enterprise
1200000000 USD 	 1999 Zappos 		 web
1008000000 USD 	 1998 Lastminute 		 web
4300000000 USD 	 1960 Sabre 		 web
1300000000 USD 	 1980 Digitas 		 web
1800000000 USD 	 1996 Omniture 		 advertising
1100000000 USD 	 1996 DoubleClick 		 advertising
8500000000 USD 	 1995 BEA Systems 		 software
6400000000 USD 	 1997 aQuantive 		 web

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [117]:
c = db.companies.find({"acquisition.acquired_year":{"$gt":2010}},
                      {"name":1,"acquisition":1}
                     ).sort([("acquisition.price_amount", DESCENDING)]).limit(10)
for coll in c:
    print(e["acquisition"]["price_currency_code"],
          coll["acquisition"]["price_amount"],
          coll['name'])

USD 39000000000 T-Mobile
USD 18400000000 Goodrich Corporation
USD 6600000000 LSI
USD 6500000000 National Semiconductor
USD 4300000000 Ariba
USD 3700000000 NetLogic Microsystems
USD 3400000000 SuccessFactors
USD 3100000000 Qualcomm Atheros
USD 3000000000 Global Crossing
USD 3000000000 Global Crossing

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [122]:
c= db.companies.find({},
                     {"name":1,"founded_year":1}
                     ).sort([("founded_year",ASCENDING)]   
                     ).limit(10)
for e in c:
    print(e["founded_year"],e["name"])

None Flektor
None Lala
None SpinVox
None Gannett
None Info
None JotSpot
None NetRatings
None Mercora
None There
None Tun3r

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [ ]:
# Your Code

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [130]:
# Your Code
c=db.companies.find({"category_code":"web", "number_of_employees":{"$gt":4000}}
                   ).sort([("number_of_employees",ASCENDING)])
for e in c:
    print(e["category_code"], e["number_of_employees"], e["name"])

web 4400 Expedia
web 8000 AOL
web 8657 Webkinz
web 10000 Rakuten
web 10000 Los Angeles Times Media Group
web 10000 Groupon
web 13600 Yahoo!
web 15000 eBay
web 15500 Experian

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [135]:
# Your Code
c=db.companies.find({"acquisition.price_amount":{"$gt":10000000},
                     "acquisition.price_currency_code":"EUR"})

for e in c:
    print(e["acquisition"]["price_amount"], e["acquisition"]["price_currency_code"],
          e["category_code"],
          e["number_of_employees"],"\t", e["name"])

31500000 EUR mobile 25 	 ZYB
140000000 EUR mobile None 	 Apertio
40000000 EUR public_relations None 	 Greenfield Online
70000000 EUR web 50 	 Webedia
24000000 EUR None None 	 Wayfinder
70000000 EUR social 170 	 Tuenti Technologies
43400000 EUR ecommerce None 	 BioMed Central

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [ ]:
# Your Code

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [141]:
# Your Code
c =db.companies.find({"founded_year":{"$gt":2000,"$lt":2010 },
                     "acquisition.acquired_year":{"$gte":2011}
                     },
                 ).limit(10)
for e in c:
    print(e["founded_year"], e["acquisition"]["acquired_year"] ,e["name"])

2005 2013 Wetpaint
2006 2012 Geni
2004 2012 Digg
2006 2011 Kyte
2005 2011 Jingle Networks
2006 2013 blogTV
2003 2011 delicious
2005 2012 Revision3
2003 2012 iContact
2006 2013 Mashery

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code