In [8]:
import sqlalchemy as db
from getpass import getpass
import pandas as pd

In [3]:
password = getpass("What is the password for MySQL: ")

What is the password for MySQL: ········

In [9]:
dbName = "lab-mysql-select"
connectionData = f"mysql+pymysql://root:{password}@localhost/{dbName}"

In [10]:
engine = db.create_engine(connectionData)
print("Connected to server")

Connected to server

# Challenge 1: Who Have Published What At Where?

In [12]:
df = pd.read_sql_query("""
SELECT  
    authors.au_id "AUTHOR ID",
    authors.au_lname "LAST NAME",
    authors.au_fname "FIRST NAME",
    titles.title "TITLE",
    publishers.pub_name "PUBLISHER"
FROM titleauthor
LEFT JOIN authors
    ON titleauthor.au_id=authors.au_id
LEFT JOIN titles
    ON titleauthor.title_id=titles.title_id
LEFT JOIN publishers
    ON titles.pub_id=publishers.pub_id 
""", engine)

df

,AUTHOR ID,LAST NAME,FIRST NAME,TITLE,PUBLISHER
0,213-46-8915,Green,Marjorie,The Busy Executive's Database Guide,Algodata Infosystems
1,409-56-7008,Bennet,Abraham,The Busy Executive's Database Guide,Algodata Infosystems
2,267-41-2394,O'Leary,Michael,Cooking with Computers: Surreptitious Balance ...,Algodata Infosystems
3,724-80-9391,MacFeather,Stearns,Cooking with Computers: Surreptitious Balance ...,Algodata Infosystems
4,213-46-8915,Green,Marjorie,You Can Combat Computer Stress!,New Moon Books
5,274-80-9391,Straight,Dean,Straight Talk About Computers,Algodata Infosystems
6,712-45-1867,del Castillo,Innes,Silicon Valley Gastronomic Treats,Binnet & Hardley
7,722-51-5454,DeFrance,Michel,The Gourmet Microwave,Binnet & Hardley
8,899-46-2035,Ringer,Anne,The Gourmet Microwave,Binnet & Hardley
9,238-95-7766,Carson,Cheryl,But Is It User Friendly?,Algodata Infosystems
10,427-17-2319,Dull,Ann,Secrets of Silicon Valley,Algodata Infosystems
11,846-92-7186,Hunter,Sheryl,Secrets of Silicon Valley,Algodata Infosystems
12,486-29-1786,Locksley,Charlene,Net Etiquette,Algodata Infosystems
13,724-80-9391,MacFeather,Stearns,Computer Phobic AND Non-Phobic Individuals: Be...,Binnet & Hardley
14,756-30-7391,Karsen,Livia,Computer Phobic AND Non-Phobic Individuals: Be...,Binnet & Hardley
15,899-46-2035,Ringer,Anne,Is Anger the Enemy?,New Moon Books
16,998-72-3567,Ringer,Albert,Is Anger the Enemy?,New Moon Books
17,998-72-3567,Ringer,Albert,Life Without Fear,New Moon Books
18,172-32-1176,White,Johnson,Prolonged Data Deprivation: Four Case Studies,New Moon Books
19,486-29-1786,Locksley,Charlene,Emotional Security: A New Algorithm,New Moon Books
20,807-91-6654,Panteley,Sylvia,"Onions, Leeks, and Garlic: Cooking Secrets of ...",Binnet & Hardley
21,648-92-1872,Blotchet-Halls,Reginald,Fifty Years in Buckingham Palace Kitchens,Binnet & Hardley
22,267-41-2394,O'Leary,Michael,"Sushi, Anyone?",Binnet & Hardley
23,472-27-2349,Gringlesby,Burt,"Sushi, Anyone?",Binnet & Hardley
24,672-71-3249,Yokomoto,Akiko,"Sushi, Anyone?",Binnet & Hardley

# Challenge 2 Who Have Published How Many At Where?

In [40]:
df = pd.read_sql_query("""SELECT  
	authors.au_id "AUTHOR ID",
	authors.au_lname "LAST NAME",
    authors.au_fname "FIRST NAME",
    publishers.pub_name "PUBLISHER",
	count(publishers.pub_id) `TITLE COUNT`
FROM titleauthor
LEFT JOIN authors
	ON titleauthor.au_id=authors.au_id
LEFT JOIN titles
	ON titleauthor.title_id=titles.title_id
LEFT JOIN publishers
	ON titles.pub_id=publishers.pub_id 
GROUP BY publishers.pub_name, authors.au_id
ORDER BY `TITLE COUNT` DESC;
""", engine)
df

      AUTHOR ID       LAST NAME FIRST NAME             PUBLISHER  TITLE COUNT
0   998-72-3567          Ringer     Albert        New Moon Books            2
1   409-56-7008          Bennet    Abraham  Algodata Infosystems            1
2   238-95-7766          Carson     Cheryl  Algodata Infosystems            1
3   172-32-1176           White    Johnson        New Moon Books            1
4   213-46-8915           Green   Marjorie        New Moon Books            1
5   486-29-1786        Locksley   Charlene  Algodata Infosystems            1
6   648-92-1872  Blotchet-Halls   Reginald      Binnet & Hardley            1
7   672-71-3249        Yokomoto      Akiko      Binnet & Hardley            1
8   722-51-5454        DeFrance     Michel      Binnet & Hardley            1
9   899-46-2035          Ringer       Anne        New Moon Books            1
10  267-41-2394         O'Leary    Michael  Algodata Infosystems            1
11  427-17-2319            Dull        Ann  Algodata Infosystems            1
12  486-29-1786        Locksley   Charlene        New Moon Books            1
13  267-41-2394         O'Leary    Michael      Binnet & Hardley            1
14  274-80-9391        Straight       Dean  Algodata Infosystems            1
15  724-80-9391      MacFeather    Stearns      Binnet & Hardley            1
16  213-46-8915           Green   Marjorie  Algodata Infosystems            1
17  899-46-2035          Ringer       Anne      Binnet & Hardley            1
18  724-80-9391      MacFeather    Stearns  Algodata Infosystems            1
19  846-92-7186          Hunter     Sheryl  Algodata Infosystems            1
20  807-91-6654        Panteley     Sylvia      Binnet & Hardley            1
21  472-27-2349      Gringlesby       Burt      Binnet & Hardley            1
22  712-45-1867    del Castillo      Innes      Binnet & Hardley            1
23  756-30-7391          Karsen      Livia      Binnet & Hardley            1

In [36]:
df = pd.read_sql_query("""SELECT  
    authors.au_id "AUTHOR ID",
    authors.au_lname "LAST NAME",
    authors.au_fname "FIRST NAME",
    sum(sales.qty) `TOTAL`
FROM titleauthor
LEFT JOIN authors
    ON titleauthor.au_id=authors.au_id
LEFT JOIN titles
    ON titleauthor.title_id=titles.title_id
INNER JOIN sales
    ON titleauthor.title_id=sales.title_id
GROUP BY titleauthor.au_id
ORDER BY `TOTAL` DESC LIMIT 3; 

""", engine)
df

     AUTHOR ID LAST NAME FIRST NAME  TOTAL
0  899-46-2035    Ringer       Anne  148.0
1  998-72-3567    Ringer     Albert  133.0
2  213-46-8915     Green   Marjorie   50.0

# Challenge 4 - Best Selling Authors Ranking

## IMPORTANTE @@@@@@
## Este ejercicio pide:
Note that the authors who have sold `0` titles should also appear in your output (ideally display `0` instead of `NULL` as the `TOTAL`).

In [39]:
# EN ESTE EJERCICIO NO HE LOGRADO QUE EL QUERY INCLUYA
# A LOS AUTORES QUE NO HAN TENIDO VENTAS.

df = pd.read_sql_query("""
SELECT 
    authors.au_id "AUTHOR ID",
    authors.au_lname "LAST NAME",
    authors.au_fname "FIRST NAME",
    IFNULL(sum(sales.qty),0) "SALES"
  #   sales.qty "SALES"
FROM titleauthor
LEFT JOIN authors
    ON titleauthor.au_id=authors.au_id
LEFT JOIN titles
    ON titleauthor.title_id=titles.title_id
LEFT JOIN sales
    ON titleauthor.title_id=sales.title_id
GROUP BY titleauthor.au_id #, sales.qty
ORDER BY SALES ASC; 
""", engine)
df

      AUTHOR ID       LAST NAME FIRST NAME  SALES
0   712-45-1867    del Castillo      Innes   10.0
1   172-32-1176           White    Johnson   15.0
2   274-80-9391        Straight       Dean   15.0
3   409-56-7008          Bennet    Abraham   15.0
4   472-27-2349      Gringlesby       Burt   20.0
5   648-92-1872  Blotchet-Halls   Reginald   20.0
6   672-71-3249        Yokomoto      Akiko   20.0
7   756-30-7391          Karsen      Livia   20.0
8   486-29-1786        Locksley   Charlene   25.0
9   238-95-7766          Carson     Cheryl   30.0
10  722-51-5454        DeFrance     Michel   40.0
11  807-91-6654        Panteley     Sylvia   40.0
12  724-80-9391      MacFeather    Stearns   45.0
13  267-41-2394         O'Leary    Michael   45.0
14  427-17-2319            Dull        Ann   50.0
15  846-92-7186          Hunter     Sheryl   50.0
16  213-46-8915           Green   Marjorie   50.0
17  998-72-3567          Ringer     Albert  133.0
18  899-46-2035          Ringer       Anne  148.0